<div id="about">
  <section id="profile">
    <div class="clearfix">
      <img src="/assets/img/avatar.png" alt="Chosen image representation for Lawliet" class="profile-photo">
      <h1>Lawliet</h1>
      <p>Applied Physics BS, Tenacious Problem Solver, Full Stack Web Developer </p>
    </div>
    <div class="buttons text-center">
      <button (click)="link('https://github.com/lawlheart')"><i class="fa fa-github"></i> Github</button>
      <button (click)="link('https://www.linkedin.com/in/lawlheart')"><i class="fa fa-linkedin"></i> LinkedIn</button>
      <button (click)="link('https://twitter.com/lawlheart')"><i class="fa fa-twitter"></i> Twitter</button>
      <button (click)="link('http://freecodecamp.com/lawlheart')"><i class="fa fa-free-code-camp"></i> FreeCodeCamp</button>
    </div>
  </section>
  <section id="education" class="text-center green">
    <h1>Education</h1>
    <ul>
      <li><h1><i class="fa fa-flask"></i></h1><h2>B.S. in Applied Physics</h2><p>University of Oregon</p></li>
      <li><h1><i class="devicon-javascript-plain"></i></h1><h2>Front End Web Development Track</h2><p>TeamTreehouse.com</p></li>
      <li><h1><i class="devicon-nodejs-plain"></i></h1><h2>Full Stack Javascript Track</h2><p>TeamTreehouse.com</p></li>
      <li><h1><i class="devicon-python-plain"></i></h1><h2>Python and Flask Tracks</h2><p>TeamTreehouse.com</p></li>
      <li><h1><i class="devicon-angularjs-plain"></i></h1><h2>Front End Development</h2><p>FreeCodeCamp.com</p></li>
      <li><h1><i class="devicon-d3js-plain"></i></h1><h2>Data Visualization</h2><p>FreeCodeCamp.com</p></li>
      <li><h1><i class="devicon-nodejs-plain"></i></h1><h2>Back End Development</h2><p>FreeCodeCamp.com</p></li>
    </ul>
  </section>
  <section id="enjoys" class="text-center green clearfix">
    <h1>Things I enjoy</h1>
    <ul>
      <li><h1><i class="fa fa-coffee"></i></h1>Coffee</li>
      <li><h1><i class="fa fa-gamepad"></i></h1>Games</li>
      <li><h1><i class="fa fa-tree"></i></h1>Camping</li>
      <li><h1><i class="fa fa-code"></i></h1>Code</li>
      <li><h1><i class="fa fa-robot"></i></h1>SciFi</li>
      <li><h1><i class="fa fa-utensils"></i></h1>Cooking</li>
      <li><h1><i class="fa fa-star"></i></h1>Astronomy</li>
    </ul>
  </section>
</div>
