@import '../../../styles/mixins';
@import '../../../styles/variables';

#logs {
  margin: 20px auto;
  width: 95%;
  max-width: 600px;
  .title {
    text-align: center;
  }
  .log {
    border-bottom: 1px solid transparentize($base-font-color, 0.9);
    display: table;
    margin-bottom: $base-spacing;
    padding-bottom: 1em;
    width: 100%;

    .log-content {
      width: 100%;

      h1 {
        font-size: 1em;
        margin: 0 0 0.5em 0;}

      p {
        line-height: 1.5em;
        margin-bottom: 0.5em;}

      p.log-detail {
        color: transparentize($base-font-color, 0.5);
        font-size: 0.9em;
        font-style: italic;}
    }
  }
}
